body {
    margin: 0;
    font-family: Arial;
    color: white;
}

.bg-tech {
    background: linear-gradient(135deg, #0f2027, #00c853, #1b5e20);
    position: relative;
}

/* FIX BACKGROUND */
.bg-tech::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(0,255,0,0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,255,0,0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    pointer-events: none;
    z-index: 0;
}

/* LOGIN */
.login-box {
    width: 300px;
    margin: 120px auto;
    text-align: center;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* NAVBAR */
.navbar {
    display: flex;
    padding: 15px;
    background: rgba(0,0,0,0.7);
    position: relative;
    z-index: 1;
}

.navbar span {
    margin: 0 15px;
}

.logout {
    margin-left: auto;
}

/* PRODUCTS */
.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 150px;
    margin: 10px;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    cursor: pointer;
}

.product img {
    width: 100%;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    color: black;
    padding: 20px;
}

/* JUAL */
.jual-container {
    text-align: center;
    margin-top: 150px;
}
